<html><head>
    <title> 第一百五十八章剑光鸟影贺新年_大道朝天 - 笔趣阁</title>
    <meta name="keywords" content="大道朝天,猫腻,第一百五十八章剑光鸟影贺新年">
    <meta name="description" content="大道朝天无弹窗,是作者猫腻所著的科幻小说类小说，本站提供无弹窗阅读环境">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="mobile-agent" content="format=html5; url=https://m.yangguiweihuo.com/11_11516/23008885.html">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=https://m.yangguiweihuo.com/11_11516/23008885.html">
    <link href="{{url_for('static', filename='spider/css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">

<div class="book reader">
    <div class="path">
        <div class="p"><a href="https://www.yangguiweihuo.com/" marked="1">笔趣阁</a> &gt; <a href="https://www.yangguiweihuo.com/11/11516/" marked="1">大道朝天</a> &gt; 第一百五十八章剑光鸟影贺新年
        <span class="oninfo">
            <div id="page_set">
            </div>
        </span>
        </div>
    </div>
    <div class="content">
        <h1>第一百五十八章剑光鸟影贺新年<span id="transmark" style="display: none; width: 0px; height: 0px;"></span></h1>
        <script>read2();</script>
        {{ story_data | safe }}
        <script>read3();</script>
        <div class="page_chapter">
            <ul>
                <li><a href="https://www.yangguiweihuo.com/11/11516/22993195.html" marked="1">上一章</a></li>
                <li><a href="https://www.yangguiweihuo.com/11/11516/" marked="1">返回目录</a></li>
                <li><a href="https://www.yangguiweihuo.com/11/11516/" marked="1">下一章</a></li>
                <li><a rel="nofollow" href="javascript:addBookMark('11516','23008885','%E5%A4%A7%E9%81%93%E6%9C%9D%E5%A4%A9','%E7%AC%AC%E4%B8%80%E7%99%BE%E4%BA%94%E5%8D%81%E5%85%AB%E7%AB%A0%E5%89%91%E5%85%89%E9%B8%9F%E5%BD%B1%E8%B4%BA%E6%96%B0%E5%B9%B4');" marked="1">加入书签</a>
                </li>
            </ul>
        </div>
        <script>read4();</script><div style="margin-bottom:8px;" align="center"><script src="http://www.biquge.lu/ads/ygwh_hf.js"></script></div>
        <script src="http://www.biquge.lu/ads/ygwh_pf.js"></script>

    </div>
</div>

<script>lastread.set('11516','23008885','大道朝天','第一百五十八章剑光鸟影贺新年','猫腻','科幻小说');</script>



<div id="downdiv"></div></body></html>