<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>大道朝天无弹窗_大道朝天最新章节列表_笔趣阁</title>

	<meta name="keywords" content="大道朝天,大道朝天最新章节" />

	<meta name="description" content="大道朝天最新章节由网友提供，《大道朝天》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的，笔趣阁免费提供大道朝天最新清爽干净的文字章节在线阅读。" />

	<meta http-equiv="Cache-Control" content="no-transform" />

	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<meta http-equiv="mobile-agent" content="format=html5; url=http://m.biquge.lu/book/39651/" />

	<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.biquge.lu/book/39651/" />

	<meta property="og:type" content="novel"/>

	<meta property="og:title" content="大道朝天"/>

	<meta property="og:description" content="    千里杀一人，十步不愿行。（欢迎加入猫腻大道朝天官方群，群号码：311875513）
"/>

	<meta property="og:image" content="http://www.biquge.lu/files/article/image/39/39651/39651s.jpg"/>

	<meta property="og:novel:category" content="玄幻小说"/>

	<meta property="og:novel:author" content="猫腻"/>

	<meta property="og:novel:book_name" content="大道朝天"/>

	<meta property="og:novel:read_url" content="http://www.biquge.lu/book/39651/"/>

	<meta property="og:url" content="http://www.biquge.lu/book/39651/"/>

	<meta property="og:novel:status" content="连载"/>

	<meta property="og:novel:author_link" content="http://zhannei.baidu.com/cse/search?ie=gbk&s=15244670192641769733&q=%C3%A8%C4%E5"/>

	<meta property="og:novel:update_time" content="2018-12-15 20:18:28"/>

	<meta property="og:novel:latest_chapter_name" content="今天没有更新"/>

	<meta property="og:novel:latest_chapter_url" content="http://www.biquge.lu/book/39651/19467857.html"/>

	<link href="{{url_for('static', filename='spider/css/style.css') }}" rel="stylesheet" type="text/css">

	<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>

	<script src="/xxgg/common.js"></script></head>

<body>

<script>login();</script>

<div class="header">

	<div class="wrap">

		<div class="logo">

			<a href="/" title="笔趣阁">笔趣阁<em>www.biquge.lu</em></a>

		</div>

		<script>search();</script>

	</div>

</div>

<div class="nav">

	<ul>

		<li><a href="/">首页</a></li>

		<li><a href="/modules/article/bookcase.php">我的书架</a></li>

		<li><a href="/xuanhuanxiaoshuo/">玄幻小说</a></li>

		<li><a href="/xiuzhenxiaoshuo/">修真小说</a></li>

		<li><a href="/dushixiaoshuo/">都市小说</a></li>

		<li><a href="/chuanyuexiaoshuo/">穿越小说</a></li>

		<li><a href="/wangyouxiaoshuo/">网游小说</a></li>

		<li><a href="/kehuanxiaoshuo/">科幻小说</a></li>

		<li><a href="/paihangbang/">排行榜单</a></li>

		<li><a href="/wanben/1_1">完本小说</a></li>

		<li><a href="/xiaoshuodaquan/">小说大全</a></li>

	</ul>

</div><div class="clear"></div>

<script>list1();</script>

<div class="book">

	<div class="path"><div class="p"><a href="/">笔趣阁</a> &gt; <a href="/book/39651/">大道朝天最新章节列表</a><span class="oninfo"><a rel="nofollow" href="javascript:addBookCase('39651');">加入书架</a></span></div></div>

	<div class="info">

		<div class="cover"><img src="/files/article/image/39/39651/39651s.jpg" alt="大道朝天"></div>

		<h2>大道朝天</h2>

		<div class="small"><span>作者：猫腻</span><span>分类：玄幻小说</span><span>状态：连载</span><span>字数：648507</span><span class="last">更新时间：2018-12-15 20:18:28</span><span class="last">最新章节：<a href="/book/39651/19467857.html">今天没有更新</a></span></div>

		<div class="intro"><span>简介：</span>    千里杀一人，十步不愿行。（欢迎加入猫腻大道朝天官方群，群号码：311875513）
			<br>作者：猫腻所写的《大道朝天》无弹窗免费全文阅读为转载作品,章节由网友发布。<br/>

	</div>

</div>

<script>list2();</script>

<div class="listmain">

	<dl>
		<dt>《大道朝天》最新章节</dt>
		<dd><a href ="/book/39651/19467857.html">今天没有更新</a></dd>
		<dt>《大道朝天》正文卷</dt>

		{% for data in story_chapter_list %}
			<dd><a href ="..{{data.chapter_url}}">{{data.chapter_name}}</a></dd>
		{% endfor %}


	</dl>

</div>



<script>list3();</script>

<div class="footer">

	<div class="link"><span>相关推荐：<a href="/book/39652/">18岁中单想打职业</a>、<a href="/book/39653/">梨花带雨醉红颜</a>、<a href="/book/39654/">异体佣兵</a>、<a href="/book/39655/">系统改造者</a>、<a href="/book/39656/">地狱法师</a>、<a href="/book/39657/">黑夜守护者</a>、<a href="/book/39658/">气死人不偿命兑换系统</a>、<a href="/book/39659/">余楚</a>、<a href="/book/39660/">重生朱元璋之王者召唤系统</a>、<a href="/book/39661/">禁术录</a></span></div>

	<hr>

	<p>《大道朝天》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的玄幻小说，笔趣阁转载收集大道朝天最新章节。</p>

	<script>footer();tj();</script>

</div>

</body>

</html>